---
---

$header-bg-color: #242838;
$header-bg-color-secondary: #353A50;
$header-heading-color: #FFFFFF;
$section-headings-color: #242838;
$body-text-color: #2A2A2A;
$body-link-color: #4A7BB7;
$blockquote-text-color: #6B7280;
$border-color: #E5E5E5;

@import "{{ site.theme }}";
