<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-GB' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          &copy; {{ 'now' | date: '%Y' }} Next Services. 
          <a href="{{ '/privacy.html' | relative_url }}">Privacy Policy</a> · 
          <a href="{{ '/support' | relative_url }}">Support</a>
        </span>
      </footer>
    </section>
  </body>
</html>
